<center>
<h1>Cocktail Information</h1>
<h2><%= @cocktail.name %></h2>
<img <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>>
</center>

<center>
<% @cocktail.doses.each do |dose| %>
  <div>
    <p><%= dose.description %> <%= dose.ingredient.name %> <%= link_to 'Delete Dose', dose_path(dose), method: :delete, class: "btn btn-primary" %></p>
  </div>
<% end %>
</center>
<center>
<%= link_to 'New Dose', new_cocktail_dose_path(@cocktail.id), class: "btn btn-primary" %>
</center>
<center>
<%= link_to "Back to all cocktails", cocktails_path, class: "btn btn-primary" %>
</center>

